  <section id="comment-form">

    <h2 class="f4 c-lh-title mt0 mb2">Add a comment</h2>

    <p class="mt0 c-lh-title"><small>I won’t share your email details with anyone else. All fields required.</small></p>

    <form name="comments" data-netlify="true" method="post" netlify-honeypot="bot-field" action="https://dev.staticman.net/v2/entry/eduardoboucas/staticman/gh-pages/comments">

        <input name="slug" hidden type="hidden" value="{{ page.slug }}">

        <label for="name">Name</label>
        <input name="name" size="80" id="name" type="text" spellchek="false" required>
        <br/>
        <label for="email">Email</label>
        <input name="email" size="80" id="email" type="email"spellchek="false" required>
        <br/>
        <label for="message">Comment</label><br/>
        <textarea name="message" id="message" spellchek="false" rows="5" cols="40" required></textarea>
        <br/>
        <div hidden>

            <label for="hp">Complete this if you don't want your comment to appear</label>
            <input name="bot-field" id="hp" type="text">

        </div>

        <button type="submit">Submit comment</button>

    </form>

</section>